<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
{{ partial "head.html" . }}
<body>
{{ partial "header.html" . }}
<div id="content">
{{ block "main" . }}{{ end }}
</div>
{{ partial "h-card.html" . }}
{{ partial "footer.html" . }}
</body>
</html>
