    <article class="h-entry">
      {{ if .Title }}
      <h2 class="list-title"><a href="{{ .Permalink }}" class="p-name u-url">{{ .Title }}</a></h2>
      {{ end }}
      {{ partial "metadata.html" . }}
      {{ if .Truncated }}
      <p><a class="read-more" href="{{ .Permalink }}">Read more &rarr;</a></p>
      {{ end }}
    </article>