{{ define "main" }}
<main class="h-feed">
  <h1 class="p-name">{{ .Title }}</h1>
  {{ range $index, $page := (.Paginate (where .Site.RegularPages "Type" "in" site.Params.mainSections)).Pages }}
  {{ if ne $index 0 }}
  {{ end }}
  {{ .Render "li" }}
  <hr/>
  {{ end }}
</main>
{{ end }}