{{ define "main" -}}
<article class="h-entry">
  <header>
    <h1 class="post-title p-name">{{ .Title }}</h1>
{{ partial "metadata.html" . -}}
  </header>
  <hr class="post-underline">
  <div class="content e-content">
{{ .Content -}}
  </div>
  <hr class="post-underline">
  <footer>
    <div class="permalink">
      Permalink:
      <a class="u-url" href="{{ .Permalink }}"><i class="fas fa-link"></i> {{ .Permalink }}</a>
    </div>
    {{- with .Params.Syndication }}
    <div class="syndication">
      Syndication:
      {{ range . }}
      <a rel="syndication" class="u-syndication" href="{{ .url }}"><i class="{{ .icon }}"></i> {{ .title }}</a>
      {{ end }}
    </div>
    {{- end }}
    {{- with .Params.Replies }}
    <div class="replies">
      <h3>Replies:</h3>
      {{ range . }}
      <div class="h-cite">
        <a href="{{ .url }}" class="u-url p-name">{{ .title }}</a>
        {{- with .by }} by <a href="{{ .url }}" class="p-author h-card">{{ .name }}</a>{{ end }}
      </div>
      {{ end }}
    </div>
    {{- end }}
  </footer>
</article>
{{ end -}}