{{ define "main" }}
<h2>
  <span class="list-heading-type">{{ .Section }}:</span>
  <span class="list-heading-tag">{{ .Title }}</span>
</h2>

<div id="content">
  {{ range.Pages }}
  {{ .Render "li" }}
  {{ end }}
</div>
{{ end }}