<footer>
  <nav id="article-nav">
    <div class="next">
      {{- if and (.NextInSection) (not .Params.Menu) }}
      <a rel="next" title="Newer article" href="{{ .NextInSection.Permalink }}"><i class="fa fa-chevron-circle-left"></i> Next</a>
      {{- else }}
      <p>&nbsp;</p>
      {{- end }}
    </div>
    <div class="top">
      <a title="Top of page" href="#">Top</a>
    </div>
    <div class="prev">
      {{- if and (.PrevInSection) (not .Params.Menu) }}
      <a rel="prev" title="Older article" href="{{ .PrevInSection.Permalink }}">Previous <i class="fa fa-chevron-circle-right"></i></a>
      {{- else }}
      <p>&nbsp;</p>
      {{- end }}
    </div>
  </nav>
  <aside id="social">
    <div id="social-icons">
      {{- range .Site.Params.social }}
      <div class="icon">
        <a class="glyph" href="{{ .url }}" rel="me">
          <i class="{{ .fa_icon }}"></i>
        </a>
      </div>
      {{- end }}
    </div>
  </aside>
  <p class="copyright">
    {{ .Site.Copyright | markdownify }}
    {{- range .Site.Menus.footer }}
      | {{ .Pre }} <a href="{{ .URL }}">{{ .Name }}</a>
    {{- end }}
  </p>
</footer>