<div class="h-card">
  <img class="u-photo" src="{{ .Site.Params.Author.Avatar | absURL }}" alt="{{ .Site.Params.Author.Name }}" />
  <div class="card-content">
    <h2 class="card-name"><a class="p-name u-url" href="{{ .Site.BaseURL }}" rel="me">{{ .Site.Params.Author.Name }}</a></h2>
    <p class="card-subhead">
      <span class="p-locality">{{ .Site.Params.Author.City }}</span>,
      <span class="p-country-name">{{ .Site.Params.Author.Country }}</span><br />
      <a class="u-email" href="mailto:{{ .Site.Params.Author.Email }}">Email me</a>
    </p>
  </div>
  <p class="p-note">{{ .Site.Params.Author.Biography }}</p>
</div>