<head>
  <meta charset="utf-8"/>
  <!-- Details -->
  {{ $title := print .Site.Title " | " .Title -}}
  {{ if .IsHome }}{{ $title = print .Site.Title " | " .Site.Params.Description }}{{ end -}}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.Description }}{{ . }}{{ end }}{{ end }}{{ end }}"/>
  <meta name="author" content="{{ .Site.Params.Author.Name }}"/>
  <!-- Metadata stuff -->
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}
  <!-- Favicons -->
  <link rel="shortcut icon" type="image/png" sizes="256x256" href="{{ "favicon.png" | absURL }}"/>
  <!-- Other Formats -->
  {{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}"/>
  {{ end -}}
  {{ if .Param "original" -}}
  <link rel="canonical" href="{{ .Param "original" }}"/>
  {{ else -}}
  <link rel="canonical" href="{{ .Permalink }}"/>
  {{ end -}}
  <!-- IndieWeb Entpoints -->
  <link rel="authorization_endpoint" href="{{ .Site.Params.Endpoints.Auth | default "https://indieauth.com/auth" }}"/>
  <link rel="token_endpoint" href="{{ .Site.Params.Endpoints.Token | default "https://tokens.indieauth.com/token" }}"/>
  {{ with .Site.Params.Endpoints.Webmention -}}
  <link rel="webmention" href="{{ . }}"/>
  {{ end -}}
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ "css/font-awesome.min.css" | relURL}}" />
  <link rel="stylesheet" type="text/css" href="{{ "css/bootstrap.min.css" | relURL}}" />
  <link rel="stylesheet" type="text/css" href="{{ "css/style.css" | relURL}}" />
  {{ range .Site.Params.Assets.customCSS -}}
  <link rel='stylesheet' href='{{ . | absURL }}'/>
  {{ end -}}
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>