{{ $currentPage := . -}}
<header>
  <nav>
    <div id="page-nav">
      {{- range .Site.Menus.main }}
      <div class="page-nav-item">
        <a class="nav-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">
          {{ if .Pre -}}
          <i class="fas {{ .Pre }}"></i>
          {{ end -}}
          <span>{{ .Name }}</span>
        </a>
      </div>
      {{- end }}
    </div>
  </nav>
  {{ if not .IsPage -}}
  <div id="site-header">
    <h1>{{ .Site.Title }}</h1>
    {{- with .Site.Params.TagLine }}
    <p>{{ . }}</p>
    {{- end }}
  </div>
  {{- end }}
</header>