{{ $dateTime := .PublishDate.Format "2006-01-02T15:04:05Z07:00" -}}
{{ $dateFormat := .Site.Params.dateFormat | default "02 January 2006" -}}
{{ $author := .Site.Params.Author.Name -}}
{{ if .Params.Author -}}
{{ $author = .Params.Author -}}
{{ end -}}
{{ if .Params.Date -}}
<div class="post-date">
  <i class="fas fa-calendar"></i>
  <time class="dt-published" datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
  {{ if $author -}}
  <div class="p-author h-card">
    <img class="u-photo" src="{{ .Site.Params.Author.Avatar | absURL }}" alt="{{ $author }}" />
    <a href="{{ .Site.BaseURL }}" class="p-name u-url" rel="author">{{ $author }}</a>
  </div>
  {{- end }}
</div>
{{ end -}}
{{ if .Params.categories -}}
<div class="post-tag">
  <i class="fas fa-folder"></i>
  {{ range .Params.categories -}}
    {{ $href := print (absURL "categories/") (urlize .) -}}
    <a class="post-tag p-category" href="{{ $href }}">{{ . }}</a>
  {{- end }}
</div>
{{ end -}}
{{ with .Params.tags -}}
<div class="post-tag">
  <i class="fas fa-tag"></i>
  {{ range . -}}
    {{ $href := print (absURL "tags/") (urlize .) -}}
    <a class="post-tag p-category" href="{{ $href }}">{{ . }}</a>
  {{- end }}
</div>
{{ end -}}
<div class="summary p-summary">
{{ .Summary }}
</div>
